@import '../../../styles.scss';


.nav {
    display: block;
    color: red;
    
}

.side-navigation{
    width: 20%;
}

.display-route {
    margin-left: 20%;
    height: 100%;
}
section.request-side-pull{
    display: block!important;
    z-index: 500;
}