<section class="main-page">
    <app-header (tosignup)="tosignUp($event)"></app-header>
    <section class="banner">
        <div class="left">
            <h1>
                Look Around You will see Every Need to Connect
            </h1>
            <p class="banner-description">
                Connecting brings us closer to opportunities
            </p>
            <button class="getstarted" type="button" (click)="tosignUp($event)">Get started</button>

        </div>
        <div class="right">
            <img src="assets/images/7450159.png" alt="">
        </div>
    </section>
</section>