.createevent-dialog-div{
    width: 41vmax;
    height: 40vmax;
    border-radius: 7rem;
}
.media-video-header{
 margin-left: 2%;
}
.media-video-createevent{
  background-color: lightgray;
  height: 10vmax;
  width: 40vmax;
  margin-left: 1%;
  border-radius: 2rem;
}

.media-images-createevent{
    margin-top: 1%;
    background-color: lightgray;
    height: 10vmax;
    width: 40vmax;
    margin-left: 1%;
    border-radius: 2rem;
}

.media-image-header{
  margin-left: 3%;
}

.describe-event{
  height: 10vmax;
  width: 40vmax;
  margin-left: 1%;
  margin-top: 1%;
}

.describe-header{
  margin-left: 2%;
}

.button-createevent-div{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

