section {
    background-color: #0F172A;
    padding-top: 30px;
    height: 100vh;

    form {
        width: 60%;
        margin-left: 20%;
        margin-top: 2%;

        h1.form-header {
            color: #FCFCFF;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            // text-align: ;
            width: 50%;
            margin-left: 25%;
            // margin: 0;

        }

        p.description {
            color: #FCFCFF;
            font-family: Poppins;
            font-size: 13px;
            font-weight: 300;
            text-align: center;
            width: 50%;
            margin-left: 20%;
            padding: 10px 10px 10px 0px;
        }

        button.google {
            display: flex;
            align-items: center;
            padding: 10px 10px 10px 35px;
            border-radius: 32px;
            color: #D5D5D6;
            font-size: 18px;
            font-family: inter;
            outline: none;
            border: none;
            width: 40%;
            margin-left: 25%;
            cursor: pointer;
            background-color: #1E293B;

            span {
                color: #FCFCFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                padding-left: 20px;
            }
        }

        div.all-ps {
            width: 50%;
            margin-left: 25%;

            p.input-holder {
                margin: 10px 10px 10px 10px;

                label {
                    color: #FCFCFF;
                    font-family: Poppins;
                    font-size: 13px;
                    font-weight: 300;
                    display: block;
                    margin-bottom: 10px;
                }

                input {
                    display: inline-block;
                    background: none;
                    outline: none;
                    border-radius: 35px;
                    border: 1px solid #334155;
                    padding: 10px;
                    color: #94A3B8;
                    width: 75%;
                    padding-left: 20px;
                    font-family: Poppins;

                    &::placeholder {
                        font-size: 16px;
                        color: #94A3B8;
                        // margin-left:7px;
                    }
                }

                input[type=password] {
                    &::placeholder {
                        font-size: 30px;
                        color: #94A3B8;
                    }
                }

                button[type=submit] {
                    background-color: #FF3366;
                    padding: 10px;
                    border-radius: 32px;
                    color: #D5D5D6;
                    font-size: 23px;
                    font-family: inter;
                    outline: none;
                    border: none;
                    width: 75%;
                    // margin-left: 5%;
                    margin-top: 30px;
                    cursor: pointer;
                }
            }

            div.have-or-nothave {
                padding-bottom: 10px;

                p {
                    font-size: 13px;
                    color: #94A3B8;
                    font-family: Poppins;

                    span {
                        padding-left: 10px;
                        color: blueviolet;
                    }
                }
            }
        }
    }
}