.content-dialog-div{
    width: 35vmax;
    height: 20vmax;
}
.media-content{
 
}
.media-video-content{
  background-color: lightgray;
  height: 10vmax;
}

.media-images-content{
    margin-top: 1%;
    background-color: lightgray;
    height: 10vmax;
}

.describe-event{
   width: 30vmax;
   height: 10vmax;
}

.content-header-div{
   margin-left: 1%;
}

.describe-event-div{
  margin-left: 1%;
}

.button-content-div{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

