<div class="content-dialog-div">
	<div class="content-header-div">
		<h2 class="content-header-text">Create News</h2>
		<button color="disabled" (click)="cancel($event)"><mat-icon aria-hidden="false">cancel</mat-icon></button>

	</div>
	<form action="#">
		<div class="filter-div">
			<mat-form-field>
				<mat-label>Category</mat-label>
				<select matNativeControl required>
					<option value="services">Services</option>
					<option [value]="anoption" *ngFor="let anoption of optionValues">{{anoption}}</option>
				</select>
			</mat-form-field>
		</div>

		<div class="describe-event-div">
			<textarea class="describe-event" name="content" placeholder="Content" [(ngModel)]="news.content"></textarea>
		</div>
		<div class="button-content-div">
			<div class="content-button">
				<button type="submit" mat-raised-button color="primary" (click)="post($event,news)">Post</button>
			</div>
		</div>
	</form>
</div>