.content-dialog-div{
    width:80%;
    margin-left: 10%;
    height: 20vmax;
}
// .media-content{
 
// }
.media-video-content{
  background-color: lightgray;
  height: 10vmax;
}

.media-images-content{
    margin-top: 1%;
    background-color: lightgray;
    height: 10vmax;
}

.describe-event{
   width: 30vmax;
   height: 10vmax;
}

.content-header-div{
   margin-left: 1%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content-header-div button{
  outline: none!important;
  border: none!important;
  background-color: transparent;
  mat-icon{
    font-size: 50px;
    height: 50px ;
    width: 50px;

}
}

.describe-event-div{
  margin-left: 1%;
}

.button-content-div{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

