<div class="card-title-div">
  <h2 mat-dialog-title class="card-title">Let's match together to know more about us</h2>
</div>
<mat-dialog-content class="mat-typography">
  
  <div class="card-div">
    <h3 class="card-subheader">Personal Information</h3>
    <ul>
      <li>Name: Jimmy</li>
      <li>Age: 27</li>
      <li>Nationality: Cameroon</li>
      <li>Country: Germany</li>
      <li>City: Münster</li>
      <li>Relationship: Single</li>
      <li>Telephone: 0049121431213412</li>
    </ul>
  </div>

  
  <div class="card-div">
    <h3 class="card-subheader">Publications</h3>
    <div class="card-text">I published the book: Speak word speak 
    </div>
  </div>


  <div class="card-div">
    <h3 class="card-subheader">Media & Articles</h3>
    <div class="card-text"> Great Articles regarding me include:
    </div>
    <ul>
      <li>SANA SANA</li>
      <li>MeSha</li>
    </ul>
  </div>

  
  <div class="card-div">
    <h3 class="card-subheader">Business Information</h3>
    <div class="card-text">I am CEO of Jimmy Corp which manufacture sugar and breweries products. I started in 2022 and it was still reall difficult. Nowadays we are selling over 200 products every month 
      and I am proud of our work. 
    </div>
  </div>


  <div class="card-div">
    <h3 class="card-subheader">Business services</h3>
    <div class="card-text">My business is capable of offering you the following services 
    </div>
    <ul>
      <li>Flyer design at 300 euros/flyer</li>
      <li>Machines for primary industry</li>
      <li>Animal products</li>
    </ul>
  </div>


  <div class="card-div">
    <h3 class="card-subheader">Websites</h3>
    <ul>
      <li>www.jimmycorp.com</li>
      <li>www.sdsdasd.com</li>
    </ul>
  </div>

 
  <div class="card-div">
    <h3 class="card-subheader">Requesting Business partners</h3>
    <div class="card-text">I strongly need business partners in several sectors such as:</div>
    <ul>
      <li>Transport</li>
      <li>Food delivery</li>
      <li>Chickens</li>
      <li>University Mentor</li>
    </ul>
  </div>
 
   
  <div class="card-div">
    <h3 class="card-subheader">My Highlights</h3>
    <div class="card-text">New information I have for you include:</div>
    <ul>
      <li>I am organizing the SANA event</li>
      <li>I invite to attain the challenge with me</li>
      <li>Eat together</li>
    </ul>
  </div>


  <div class="card-div">
    <h3 class="card-subheader">Events Ranking</h3>
    <div class="card-text">40 followers</div>
  </div>

  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
