<section>
    <form action="#" method="post">
        <h1 class="form-header">Sign In to Continue 👋</h1>
        <span class="description">
            or
        </span>
        <button class="google" (click)="googleSignIn($event)">
            <i class="fa-brands fa-google"></i>
            <span>Use Google</span>
        </button>
        <div class="all-ps">
            <p class="input-holder">
                <label for="Email Address">Email Address</label>
                <input type="email" placeholder="i.e myfirstname@gmail.com" [(ngModel)]="User.email" name="email"/>
            </p>
            <p class="input-holder">
                <label for="password">Password</label>
                <input type="password" placeholder="................" [(ngModel)]="User.password" name="password"/>
            </p>
            <p class="input-holder">
                <button type="submit" (click)="Submit($event,User)">Sign In</button>
            </p>
            <div class="have-or-nothave">
                <p>
                    Don't Have an Account?  
                    <span><a routerLink="/sign-up">Sign Up</a></span></p>
            </div>
        </div>
    </form>
</section>
