<div class="content-dialog-div">
    <div class="content-header-div">
      <h2 class="content-header-text">Create content</h2>
    </div>
    <div class="category-content">    
      <mat-form-field>
        <mat-label>Category</mat-label>
        <select matNativeControl required>
          <option value="services">Service</option>
          <option value="status">Status</option>
          <option value="event">Event</option>
          <option value="travel">Travel</option>
          <option value="market-place">Market place</option>
          <option value="job">Job</option>
          <option value="my-family">Family</option>
          <option value="overnight">Overnight stay</option>
          <option value="knowledge">Knowledge</option>
          <option value="other">Other</option>
        </select>
      </mat-form-field>
        
    </div>
    <div class="media-content">
      <div class="media-video-content">
          <h3 class="media-video-header">Upload videos</h3>
      </div>
      <div class="media-images-content">
          <h3 class="media-image-header">Upload Images</h3>
      </div>
    </div>
    <div class="describe-event-div">
       <textarea class="describe-event">Extra details</textarea>
    </div>
    <div class="button-content-div">
       
      <div class="content-button">
          <button class="content-create-button" mat-raised-button color="primary">create</button>
      </div>
      <div class="deleteevent-button">
          <button class="content-delete-button" mat-raised-button color="primary">delete</button>
      </div>
       
    </div>
  </div>
  