
.kagerting-page{
    width: 100%;
    height: 350%;
    position: absolute;
    //background-color: rgb(238, 237, 237);
    background-color: rgb(235, 161, 161);
}

.heading-kagerting-div{
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
}
.heading-kagerting-text{
    text-align: center;
}


.second-bar-div{
    display: flex;
    margin-left: 25%;
}

.search-div{
    border-radius: 15rem;
    margin-bottom: 5%;
    margin-top:5%;
    display: inline-block;
}

.search-bar{
    //width: 50%;
    border-radius: 40px;
    height: 60px;
    width: 35vmax;
}

.filter-div{
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

.create-button-header-div{
  display: flex;
  justify-content: space-evenly;
}

.create-content-div{
    text-align: center;
    background-color: white;
    width: 15vmax;
    border-radius: 4rem;
    margin-left: 25%;

}

.create-content-button{
    font-weight: bold;
}

.create-news-div{
    text-align: center;
    background-color: white;
    width: 15vmax;
    border-radius: 4rem;
    float: right;
    margin-right: 20%;
    border-radius: 2rem;

}

.create-news-button{
    font-weight: bold;
}


.display-all-kagertings{
 display: flex;
 justify-content: space-between;
 margin-right: 15%;
 margin-left: 5%;
}

.all-media-kagertings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.8vmax;
    margin-left: 10%;
    margin-top: 8%;
}
.all-text-kagertings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.8vmax;
    margin-top: 8%;
}
.card-main-div {
    width: 40vmax;
    max-height: 30vmax;
    background-color: white;
    border-radius: 0.2rem;
    margin-top: 0.5vmax;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-main-text-div {
    width: 30vmax;
    height: 10vmax;
    background-color: white;
    border-radius: 0.2rem;
    margin-top: 0.5vmax;
    justify-content: space-evenly;
    border-radius: 1.4rem;
}



.card-body{
    justify-content: space-between;
    margin-left: 3%;
}

.kagerting-buttons-div{
    margin-top: 20%;
    display: flex;
    max-width: 90%;
    justify-content: space-evenly;
}

.kagerting-news-buttons-div{
   display: flex;
   justify-content: space-evenly;
}

.item-icon-text{
    padding-right:8%;
}

.card-button-div{
    float: right;
}