<section class="edit-education">
    <form action="">
        <mat-card>
            <div class="mat-header-cross">
                <mat-card-header>Education</mat-card-header>
                <button color="disabled"><mat-icon aria-hidden="true">cancel</mat-icon></button>
            </div>
            <mat-form-field>
                <label for="school">Name of School</label>
                <input type="text" mat-input id="school">
            </mat-form-field>
            <mat-form-field>
                <label for="program">Name of Program</label>
                <input type="text" name="site description" id="program" />
            </mat-form-field>
            <mat-form-field>
                <label for="degree">Degree Obtained</label>
                <input type="text" name="site description" id="degree" />
            </mat-form-field>
            <div class="input-holder">
                <label for="start-date">Start date</label>
    
                <input type="date" name="startDate"  class="form-control"
                    placeholder="Task start date">
            </div>
            <div class="input-holder">
                <label for="start-date">End date</label>
    
                <input type="date"  name="dueDate" class="form-control"
                    placeholder="Task due date">
            </div>
            <button><mat-icon>add</mat-icon></button>
        </mat-card>
    </form>
</section>
