<div class="profile-page">
  <div class="profile-left">
     <div class="profile-image">
        <img src="../../../assets/images/newLogoADI.jpg"> 
     </div>
     <div class="profile-header-button-div">
       <button mat-raised-button color="primary">Change Image</button>
     </div>
     <div class="profile-activity-div">
        <h2 class="profile-header-activity-text">Activity</h2>
        <br>
        <div class="profile-stat-div">
          <h3 class="profile-stat-text">Share   125</h3>
          <hr>
          <h3 class="profile-stat-text">Followers 140</h3>
          <hr>
          <h3 class="profile-stat-text">Event posted  30</h3><hr>
          <h3 class="profile-stat-text">Matches  30</h3>
        </div>
        
     </div>
  </div>
  
  <div class="profile-right">
      <div class="about-header-div">
        <h1 class="about-header-text">About</h1>
      </div>
      <div class="about-div">
          <div class="about-text-div">
            <h3>Last Name</h3>
            <input class="input-area" placeholder="Lakaka">
          </div>
          <div class="about-text-div">
            <h3>First Name</h3>
            <input class="input-area" placeholder="Frank">
          </div>
          <div class="about-text-div">
            <h3>Email Address</h3>
            <input class="input-area" placeholder="l.opopo@yahoo.fr">
          </div>
          <div class="about-text-div">
            <h3>Address</h3>
            <input class="input-area" placeholder="Kurt Schumi Straße 22, 67663 Kaiserslautern">
          </div>
          <div class="about-text-div">
            <h3>Date of Birth</h3>
            <input class="input-area" placeholder="12.1.2002">
          </div>
          <div class="validate-about">
            <button mat-raised-button class="validate-about-button" color="primary">Save</button>
         </div>
      </div>
      <div class="complete-profile-header-div">
        <h2 class="complete-profile-text">Complete Profile</h2>
      </div>
      <div class="complete-profile"> 
        <div class="complete-profile-div">
          <div class="upload-image">
            <img src="../../../assets/images/7450159.png"> 
            <button mat-raised-button color="primary">Upload Images</button>
            <div class="display-uploaded-images">
              
            </div>
          </div>
          
         </div>    
        <div class="complete-profile-div">
         <h3>Publications</h3>
         <input class="input-area" placeholder="....">
        </div>
        <div class="complete-profile-div">
         <h3>Media and Articles</h3>
         <input class="input-area" placeholder="....">
        </div>
        <div class="complete-profile-div">
         <h3>Business Information</h3>
         <textarea class="business-info"></textarea>
        </div>
        <div class="complete-profile-div">
         <h3>Business Services</h3>
         <textarea class="business-services"></textarea>
        </div>
        <div class="dating-div">
          <h3 class="dating-text">Dating interested</h3>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          
        </div>
        <div class="complete-profile-div">
          <h3>Websites</h3>
          <input class="input-area" placeholder="">
        </div>
        <div class="complete-profile-div">
         <h3>Requesting Business Partners</h3>
         <textarea class="request-business-partners"></textarea>
        </div>
        <div class="complete-profile-div">
         <h3>My Highlights</h3>
         <input class="input-area" placeholder="...">
        </div>
        <div class="validate-complete-profile">
          <button class="validate" mat-raised-button color="primary">Save</button>
       </div>
      </div>
  </div>

</div>
