<div class="profile-page">
	<div class="profile-left">
		<div class="profile-image">
			<img src='{{logins.PhotoURL}}' alt="photo here">
		</div>
		<div class="profile-header-button-div">
			<button mat-raised-button color="primary">Change Image</button>
		</div>
		<div class="profile-activity-div">
			<h2 class="profile-header-activity-text">Activity</h2>
			<br>
			<div class="profile-stat-div">
				<h3 class="profile-stat-text">Share 125</h3>
				<hr>
				<h3 class="profile-stat-text">Followers 140</h3>
				<hr>
				<h3 class="profile-stat-text">Event posted 30</h3>
				<hr>
				<h3 class="profile-stat-text">Matches 30</h3>
			</div>

		</div>
	</div>

	<div class="profile-right">
		<div class="about-header-div">
			<h1 class="about-header-text">About</h1>
		</div>
		<mat-card>
			<div class="about-div">
				<div class="about-text-div">
					<h3>{{logins.Name}}</h3>
				</div>
				<div class="about-text-div">
					<h3>Profile Statement</h3>
				</div>
			</div>
			<mat-card>
				<mat-card-header class="contact">
					<h3 (click)="showContactInfo($event)">Contact Information</h3>
				</mat-card-header>
			</mat-card>
		</mat-card>
		<div class="complete-profile-header-div">
			<h2 class="complete-profile-text">More About </h2>
		</div>
		<div class="complete-profile">
			<div class="complete-profile-div">
				<div class="upload-image">
					<img src="../../../assets/images/7450159.png">
					<div class="display-uploaded-images">
					</div>
				</div>

			</div>
			<mat-card>
				<mat-card-header>
					<h3>Academic Background</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab matTooltip="Add Business Info"
								(click)="showEducationInfo($event)"><mat-icon>add</mat-icon></button>
						</div>
						<div class="edit">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>edit</mat-icon></button>
						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Academics falls here.
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Related Skills</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab matTooltip="Add Business Info" (click)="showRelatedSkills($event)"
							><mat-icon>add</mat-icon></button>
						</div>
						<div class="edit">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>edit</mat-icon></button>
						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Related skills falls here.
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Publications</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>add</mat-icon></button>

						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div>Here we have everything that comes as Publications</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Media and Articles</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>add</mat-icon></button>
						</div>
					</div>
				</mat-card-header>
				<mat-card-content>

					<div class="complete-profile-div">
						Hello here we do not Joke
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Services</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab matTooltip="Add Business Info" (click)="showServices($event)"	><mat-icon>add</mat-icon></button>
						</div>
						<div class="edit">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>edit</mat-icon></button>
						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Business Services falls here.
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Websites</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab (click)="showWebsite($event)"
								matTooltip="Add Business Info"><mat-icon>add</mat-icon></button>

						</div>
						<div class="edit">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>edit</mat-icon></button>
						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Website Information falls here.
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Strategic Connections</h3>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Strategic connections falls here.
					</div>
				</mat-card-content>
			</mat-card>
			<mat-card>
				<mat-card-header>
					<h3>Highlights</h3>
					<div class="add-and-edit">
						<div class="add">
							<button class="red" color="red" mat-mini-fab (click)="showHighlights($event)"
								matTooltip="Add Business Info"><mat-icon>add</mat-icon></button>

						</div>
						<div class="edit">
							<button class="red" color="red" mat-mini-fab
								matTooltip="Add Business Info"><mat-icon>edit</mat-icon></button>

						</div>
					</div>
				</mat-card-header>
				<mat-card-content>
					<div class="complete-profile-div">
						Your Highlights falls here.
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

</div>

<section class="profile-info">

</section>