<section class="services">
    <form action="#">
        <mat-card>
            <div class="mat-header-cross">
                <mat-card-header>Add Service</mat-card-header>
                <button color="disabled"><mat-icon aria-hidden="false">cancel</mat-icon></button>
            </div>
            <mat-form-field>
                <label for="Service">Service</label>
                <input type="text" mat-input id="Service">
            </mat-form-field>
            <button><mat-icon>add</mat-icon></button>
        </mat-card>
    </form>
</section>