@import '../../../styles.scss';
.navigation-bar-div{
  position:relative;
  padding-bottom: 60px;

  .fixed-nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}


.adi-logo-div{
  height: 100%;
  width: 30%;
  background-image: url(../../../assets/images/newLogoADI.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-menu{
  color: white;
  display: inline-flex;
  padding: 1vmax 1vmax;
  justify-content: space-evenly;
  float: right;
  width: 50%;
}

.more-menu{
  font-size: 1.3vmax;
  padding: 1vmax 1vmax;
}

.navigation-bar{
    background-color: black;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;

}
        

.notification-bell {
    cursor: pointer;

}
i {color: antiquewhite;}

.user-log-icon {
  background-color: rgba(137, 43, 226, 0.832);
  border-radius: 50%;
  color: white;
  padding: 0.5vmax 0.9vmax 0.7vmax 0.9vmax;
  justify-content: space-between;
  align-items: center
}

.button {
    @include input-and-button(none);
    @include text-style(17px, 400, rgba(15, 13, 13, 0.661));

 }
 .right-nav-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3vmax;
    width: 10%;
 }

 div.loggeduser {
  position: relative;
  right: 3%;
  z-index: 100;
  &:hover {
      div.metadata {
          display: block;
      }
  }

  div.image-holder {
      width: 40px;
      height: 40px;
      border-radius: 50%;

      p {
          background-color: rgba(137, 43, 226, 0.832);
          padding: 10px 15px 10px 15px;
          border-radius: 50%;
          color: white;
      }

      img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
      }

  }

  div.metadata {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      position: absolute;
      right: 20%;
      display: none;

      span.username {
          padding: 10px;
          margin-left: 30px;
          text-align: center;
          @include text-style(16px, 400, rgba(15, 13, 13, 0.661));
      }

      p.email {
          padding: 10px;
          @include display-element-flex(center, space-between);
          gap: 10px;
          font-size: 15px;

          span {
              @include text-style(12px, 400, rgba(15, 13, 13, 0.661));

          }
      }

      div.logout {
          padding: 0px 0px 0px 10px;
          @include display-element-flex(center, null);
          gap: 10px;
          font-size: 15px;

          button {
              @include input-and-button(none);
              @include text-style(17px, 400, rgba(15, 13, 13, 0.661));

          }
      }
  }
}