@import '../../../styles.scss';

.adi-logo-div{
  height: 100%;
  width: 30%;
  background-image: url(../../../assets/images/newLogoADI.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-menu{
  color: white;
  display: inline-flex;
  padding: 1vmax 1vmax;
  justify-content: space-evenly;
  float: right;
  width: 50%;
}

.more-menu{
  font-size: 1.3vmax;
  padding: 1vmax 1vmax;
}

.navigation-bar{
    background-color: black;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;

}
        

.notification-bell {
    cursor: pointer;

}
i {color: antiquewhite;}

.user-log-icon {
  background-color: rgba(137, 43, 226, 0.832);
  border-radius: 50%;
  color: white;
  padding: 0.5vmax 0.9vmax 0.7vmax 0.9vmax;
  justify-content: space-between;
  align-items: cente
}

.button {
    @include input-and-button(none);
    @include text-style(17px, 400, rgba(15, 13, 13, 0.661));

 }
 .right-nav-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3vmax;
    width: 10%;
 }