<main>
    <section class="chat-ui available-chat">
        <header>
            <div class="queried-profile">
                <div class="searched-profile">
                    <div class="display-photo">
                        <img src="./images/gravis.png" alt="Display photo">
                    </div>
                    <div class="username-and-description">
                        <h1 class="username">Gravid Cristofer</h1>
                        <p class="user-description">Senior Developer</p>
                    </div>
                </div>
                <span class="edit"><i class="fa-solid fa-pen"></i></span>
            </div>
            <div class="query-profile">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="search" name="freind-searcher" id="search-profile" placeholder="Search friends"/>
            </div>
        </header>
        <div class="available-chats">
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/lina-roy.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Lina Roy</h1>
                        <p class="last-message">The ok. He's meeting with client tomorrow</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">10:34 Am</p>
                    <p class="message-flag">1</p>
                    <p class="read-flag"></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/brad-frost.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Brad Frost</h1>
                        <p class="last-message">Nice to meet you</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">10:29 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/paul-irish.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Paul Irish</h1>
                        <p class="last-message">Thats great then start working from tomorrow</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">9:34 Am</p>
                    <p class="message-flag">1</p>
                    <p class="read-flag"></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/jessica-giloy.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Jessica Giloy</h1>
                        <p class="last-message">That's source code</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">08:50 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/john-doe.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">John Doe</h1>
                        <p class="last-message">Hi sir, the second component will be completed today</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">08:34 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile">
                    <div class="display-photo">
                        <img src="./images/eric-peterson.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Eric Peterson</h1>
                        <p class="last-message">First of all meet with the company CEO and ICA</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">02:12 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
        </div>
    </section>
    <section class="chat-ui available-chat-mobile">
        <header>
            <div class="queried-profile">
                <div class="searched-profile">
                    <div class="display-photo">
                        <img src="./images/gravis.png" alt="Display photo">
                    </div>
                    <div class="username-and-description">
                        <h1 class="username">Gravid Cristofer</h1>
                        <p class="user-description">Senior Developer</p>
                    </div>
                </div>
                <span class="edit"><i class="fa-solid fa-pen"></i></span>
            </div>
            <div class="query-profile">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="search" name="freind-searcher" id="search-profile" placeholder="Search friends"/>
            </div>
        </header>
        <div class="available-chats">
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/lina-roy.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Lina Roy</h1>
                        <p class="last-message">The ok. He's meeting with client tomorrow</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">10:34 Am</p>
                    <p class="message-flag">1</p>
                    <p class="read-flag"></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/brad-frost.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Brad Frost</h1>
                        <p class="last-message">Nice to meet you</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">10:29 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/paul-irish.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Paul Irish</h1>
                        <p class="last-message">Thats great then start working from tomorrow</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">9:34 Am</p>
                    <p class="message-flag">1</p>
                    <p class="read-flag"></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/jessica-giloy.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Jessica Giloy</h1>
                        <p class="last-message">That's source code</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">08:50 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/john-doe.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">John Doe</h1>
                        <p class="last-message">Hi sir, the second component will be completed today</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">08:34 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
            <div class="chat">
                <div class="chat-profile-mobile chat-profile">
                    <div class="display-photo">
                        <img src="./images/eric-peterson.png" alt="Display photo">
                    </div>
                    <div class="username-and-last-message">
                        <h1 class="username">Eric Peterson</h1>
                        <p class="last-message">First of all meet with the company CEO and ICA</p>
                    </div>
                </div>
                <div class="flags">
                    <p class="time-flag">02:12 Am</p>
                    <p class="message-flag"></p>
                    <p class="read-flag"><i class="fa-solid fa-check"></i></p>
                </div>
            </div>
        </div>
    </section>
    <section class="user-profile-and-chat-pannel">
        <section class="chat-ui chat-pannel">
            <header>
                <div class="current-chat">
                    <div class="user-profile" id="display-profile">
                        <div class="display-photo">
                            <img src="./images/diane-vanhord.png" alt="Display photo">
                        </div>
                        <p class="username">Diane Vanhorn</p>
                        <p class="online-flag"></p>
                    </div>
                    <div class="likes-notification">
                        <button class="search-message"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button class="like-button"><i class="fa-regular fa-heart"></i></button>
                        <button class="notification-button"><i class="fa-solid fa-bell"></i></button>
                    </div>
                </div>
            </header>
            <div class="chat-box">
                <div class="old-chat">
                    <p class="yesterday">Yesterday</p>
                    <div class="hand-cursor">
                        <img src="./images/cursor.png" alt="">
                    </div>
                    <div class="receiver">
                        <div class="dp-and-message">
                            <div class="dp">
                                <img src="./images/diane-vanhord.png" alt="">
                            </div>
                            <p class="receivers-message">That's great</p>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="dp-and-message">
                            <div class="double-messages">
                                <p class="senders-message">I am refer to the project structure and found some mistakes</p>
                                <p class="senders-message">There are some bug in that project</p>
                            </div>

                            <div class="dp">
                                <img src="./images/sender.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="dp-and-message">
                            <div class="dp">
                                <img src="./images/diane-vanhord.png" alt="">
                            </div>
                            <div class="double-messages">
                                <p class="receivers-message">I see that project</p>
                                <p class="receivers-message">Yes there are many bugs in that project</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="todays-chat">
                    <p class="today">Today</p>
                    <div class="receiver">
                        <div class="dp-and-message">
                            <div class="dp">
                                <img src="./images/diane-vanhord.png" alt="">
                            </div>
                            <p class="receivers-message">Ok</p>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="dp-and-message">
                            <p class="senders-message">Can you send me the project</p>
                            <div class="dp">
                                <img src="./images/sender.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="dp-and-message">
                            <div class="dp">
                                <img src="./images/diane-vanhord.png" alt="">
                            </div>
                            <p class="receivers-message">Hello I'm fine and you?</p>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="dp-and-message">
                            <p class="senders-message">Hello sir, How are you?</p>
                            <div class="dp">
                                <img src="./images/sender.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="writer">
                    <div class="message-tools">
                        <div class="vm">
                            <button class="voicemail" type="button"><i class="fa-solid fa-microphone"></i></button>
                            <textarea name="message" id="sender-message" cols="30" placeholder="Write Something" rows="10"></textarea>
                        </div>
                        <div class="camera-emoji-doc">
                            <button class="attach-file" type="button"><i class="fa-solid fa-paperclip"></i></button>
                            <button class="camera" type="button"><i class="fa-solid fa-camera"></i></button>
                            <button class="emoji" type="button"><i class="fa-solid fa-face-smile"></i></button>
                        </div>
                    </div>
                    <button class="send" type="button"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>
        </section>
        <section class="chat-ui user-profile">
            <header>
                <div class="cross">
                    <p class="first"></p>
                    <p class="second"></p>
                </div>
                <div class="query-profile">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" name="friend-searcher" id="search-profile" placeholder="Search people"/>
                </div>
                <div class="user-profile">
                    <div class="central-image">
                        <div class="display-photo">
                            <img src="./images/diane-vanhord.png" alt="Display photo">
                        </div>
                    </div>
                    <div class="username-and-description">
                        <h1 class="username">Diane Vanhorn</h1>
                        <p class="user-description">Junior Developer</p>
                    </div>
                    <div class="vidcall-and-chat">
                        <div class="chat-icon">
                            <p class="icon"><i class="fa-solid fa-comment"></i></p>
                            <p class="chat">chat</p>
                        </div>
                        <div class="vidcall-icon">
                            <p class="icon"><i class="fa-solid fa-video"></i></p>
                            <p class="vidcall">Video call</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="friends-and-favorites">
                <p class="friends"><i class="fa-regular fa-user"></i><span> View Friends</span></p>
                <p class="favorites"><i class="fa-regular fa-heart"></i><span>Add to Favorites</span> </p>
            </div>
            <div class="media-links-docs">
                <h3>Attachments</h3>
                <div class="attachments">
                    <div class="attachment"><span>PDF</span></div>
                    <div class="attachment"><span>VIDEO</span></div>
                    <div class="attachment"><span>MP3</span></div>
                    <div class="attachment"><span>IMage</span></div>
                </div>
                <button class="view-all" type="button">View all</button>
            </div>
        </section>
    </section>
</main>