<div class="match-page">
    <div class="heading-match">
        <h2>
          
             Look at people who matched with you. Use this possibility to learn more about them, do business with them and connect with them in a better way.
    
        </h2>
    </div>
    
    <div class="search-div">
        <input class="search-bar" type="search">
    </div>
    
    <div class="connections">
        <div class="available-connections" >
          
            <!--<div class="parker" *ngFor="let amatch of matches" >
                <div class="aconnection">
                    <span><i class="fa-regular fa-circle-dot"></i></span>
                    <div class="dp-descrip">
                        <div class="dp">
                            <img src="../../../assets/images/7450159.png" alt="udp">
                            <img src="../../../assets/images/7450159.png" alt="udp">
                            <img src="../../../assets/images/7450159.png" alt="udp">
                        </div>
                        <div class="descrip">
                            <h1 class="uname">{{amatch.data.Username}}</h1>
                            <p class="h1-descrip">34 Connections</p>
                        </div>
                        <button type="button" (click)="MakeMatch($event,amatch)">Match</button>
                    </div>
                </div>
            </div>-->
            <div class="all-card-div">
                <div class="card-main-div">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                  </div>
                <div class="card-main-div">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                </div>
                <div class="card-main-div">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                     <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                </div>
                <div class="card-main-div2">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                     <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                </div>
                <div class="card-main-div2">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                     <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                </div>
                <div class="card-main-div2">
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image"
                        [images]="imageObject"
                        [infinite]="false"
                        [autoSlide]="1"
                        slideImage="1"></ng-image-slider>
                    </div>
                 
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      <button id="match-create" href="#!" class="match-withdraw-button" mat-raised-button color="primary">Match withdraw</button>
                      <button class="more-to-card" mat-raised-button color="primary" routerLink="/uoai/chats">Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
