<div class="home">
    <div class="second-bar-div">
        <div class="search-div">
            <input class="search-bar" type="search">
        </div>
        <div class="filter-div">
            <mat-form-field>
                <mat-label>Category</mat-label>
                <select matNativeControl required>
                    <option value="services">Service</option>
                    <option value="status">Status</option>
                    <option value="event">Event</option>
                    <option value="travel">Travel</option>
                    <option value="market-place">Market place</option>
                    <option value="job">Job</option>
                    <option value="dating">Dating</option>
                    <option value="my-family">Family</option>
                    <option value="overnight">Overnight stay</option>
                    <option value="knowledge">Knowledge</option>
                    <option value="other">Other</option>
                </select>
            </mat-form-field>
            <!--<button class="filter-button" mat-button (click)="openFilter()">Filter</button>-->
        </div>
    </div>
    <div class="welcome-message">
        <div class="welcome-account-setup">
            <div class="name-descrip" *ngIf="logins">
                <h1 class="text-head">Welcome {{logins.Name}}</h1>
                <h2 class="descrip">
                    Complete your information to increase chances of matching with the right person
                </h2>
            </div>
            <div class="account-setup">
                <button type="button"><span>Setup Account</span> <i class="fa-solid fa-greater-than"></i></button>
            </div>
        </div>
        <hr>
        <div class="app-stats">
            <ul>
                <li>
                    <span class="icon"><i class="fa-solid fa-people-group"></i></span>
                    <p class="info">
                        <small>Members</small>
                        <span>2100</span>
                    </p>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                    <p class="info">
                        <small>Valid Matches</small>
                        <span>173</span>
                    </p>
                </li>
                <li>
                    <span class="icon"><i class="fa-solid fa-clipboard"></i></span>
                    <p class="info">
                        <small>Events</small>
                        <span>50</span>
                    </p>
                </li>

            </ul>
        </div>
    </div>

    <div class="connections">
        <div class="available-connections">
            <div class="all-card-div" *ngFor="let amatch of matches" >
                <div class="card-main-div">
                    <mat-card class="profile-photo">
                        <mat-card-content>
                            <div class="dp">
                                <img src="{{amatch.data.PhotoURL}}" alt="">
                            </div>
                            <p>34 Connections</p>
                        </mat-card-content>
                    </mat-card>
                    <div class="slide-image-div">
                        <ng-image-slider #nav class="slide-image" [images]="imageObject" [infinite]="false"
                            [autoSlide]="1" slideImage="1"></ng-image-slider>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <button id="match-create" class="match-button" (click)="makeMatch($event,amatch,disableButton)" #disableButton>Match</button>
                        <button class="more-to-card" mat-raised-button color="primary" (click)="openDialog()">View More</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>