@import '../../../styles.scss';

.home{
   
    
    width: 100%;
    height: auto;
    position: absolute;
    //background-color: rgb(238, 237, 237);
    background-color: rgb(235, 161, 161);
    
}

.text-head{
    font-size: 2rem;
}


.second-bar-div{
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
}

.search-div{
    border-radius: 15rem;
    margin-bottom: 5%;
    margin-top:5%;
    display: inline-block;
}

.search-bar{
    //width: 50%;
    border-radius: 40px;
    height: 60px;
    width: 35vmax;
}

.filter-div{
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}
.card-main-div {
    width: 25vmax;
    background-color: white;
    border-radius: 2rem;
    margin-left: 10%;
    justify-content: space-between;
    margin-bottom: 1%;
}

.all-card-div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.8vmax;
    margin-left: 10%;
    margin-top: 8%;
}

.card-body{
    justify-content: space-between;
}

.welcome-message{
    margin-left: 15%;
}

.welcome-account-setup{
    display: flex;
    justify-content: space-between;
}

.account-setup{
    margin-right: 15%;
}

div.app-stats{
        @include container(90%,5%);
        // margin-top: 25px;
        ul{
            display: grid;
            grid-template-columns: auto auto auto;
            li{
                margin-top: 25px;

                @include display-element-flex(center,null);
                gap: 20px;
              span.icon{
                border-radius: 50%;
                border: 2px solid #ffffffa2;
                padding: 30px;
                i{
                    font-size: 24px;
                    color: #ffffff;
                }
              }
              p.info{
                small{
                    @include text-style(18px,400px,rgba(255, 255, 255, 0.882));
                    display: block;
                }
                span{
                    @include text-style(35px,400px,rgba(255, 255, 255, 0.882));

                }
              }
             }
            }
}

.more-to-card{
    border-radius: 30px;
    float: right;
}

#match-create{
    margin-left: 5%;
    width: -20px;
}

.slide-image-div{
    width: 100%; 
    height: 50%; 
    text-align:center;
    margin:0; 
    padding:0;
}